*{
   background: var(--fondo); 
   font-family: 'Inter';
   font-weight: 400;
   font-size: 30px;
   line-height: 150%;
}

:root{
    --fondo: #F3F5FC;
    --color-1: #0A3871;
    --color-2: #D8DFE8;
    --mensaje: #FFFFFF;
}

main{
    display: flex;
    margin-bottom: 1.25em;
    margin-left: 2em;
    height: 100%;
    max-width: 1280px
}

.section-1{
    
    width: 45vw;
}

.logo{
    padding-top: 1em;
    margin-left: 1em;
    width: 140px;
    height: 10%;

}

.text-area{
    height: 62%;
    border: none;
    color: var(--color-1);
    margin-top: 2.25em;
    text-transform: lowercase;
    resize: none;
}

::placeholder{
    color: var(--color-1);
} 
.text-area:focus{
    outline: none;
}

.informacion{
    color: #495057;
    font-size: 0.47em;
}
span{
    display: inline-table;
    text-align: center;
    width: 0.7rem;
    height: 0.7rem;
    color: var(--fondo);
    background-color: #495057;
    border-radius: 46%;
    font-size: 1em;
}


.btn-encriptador{
    background-color: var(--color-1);
    border: 1px solid var(--color-1);
    border-radius: 24px;
    color: var(--mensaje);
    cursor: pointer;
    height: 2.1875em;
    width: 9.5em;
    font-size: 1rem;
}

.btn-desencriptar{
    background-color: var(--color-2);
    border: 1px solid var(--color-1);
    border-radius: 24px;
    color: var(--color-1);
    cursor: pointer;
    height: 2.1875em;
    width: 9.5em;
    font-size: 1em;
    margin-left: 0.6rem ;
}

.section-2{
    background: var(--mensaje);
    background-image: url("images/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;
    background-position-y: 6.5rem;
    border: none;
    border-radius: 24px;
    color: var(--color-1);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.22);
    margin-left: 3.75rem;
    margin-top: auto;
    padding-left: .25rem;
    width: 23%;
    height: 45vw; 
  
}

.mensaje1{
    margin-top: 15.2rem;
    background: none;
    width: 100%;
    height: 1.625rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: .8em;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.mensaje2{
    background: none;
    width: 100%;
    height: 1.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .53em;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.mensaje{
    background:var(--mensaje);
    border: none;
    color: var(--color-1);
    margin-left: .2em;
    margin-top: .4em;
    width: 93%;
    height: 81%;
    display: none;
    resize: none;
    
}

.mensaje:focus{
    outline: none;
}


.btn-copiar{
    border: 1px solid var(--color-1);
    border-radius: 24px;
    color: var(--color-1);
    cursor: pointer;
    height: 2.1875rem;
    width: 9.5rem;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
    font-size: 0.8em;
    display: none;
   
}

@media (max-width: 1280px){
    * {
        font-size: 27px;
    }
}

@media (max-width: 1024px){
    * {
        font-size: 21px;
    }
}


@media (max-width: 768px){
    main{
        display: block;
    }
    .section-1 {
        width: 80vw;
        text-align: center;
        margin: auto;
    }
    .section-2 {
        background-image: none;
        margin-top: 1em;
        display: flex;
        width: 86%;
        height: 33vw;
        margin-left: 1em;
        display: block;
    }
    .mensaje1{
        padding: 1rem;
        margin-top: 0;
        width: 25rem;
    }
    .mensaje{
        height: 60%;
        padding: 0.6em;
    }
    .btn-copiar{
        margin-left: 8.5rem;
    }

}
@media (max-width: 576px){
    *{
        font-size: 16px;
    }
    main{
        margin-left: 0%;
    }
    .logo {
        width: 80px;
            }
    .section-2{
        width: 90%;
        height: 45vw;
    }
    .mensaje1{
        padding-top: 1rem;
        padding-left: 0;
        width: auto;
    }
    .btn-desencriptar, .btn-encriptador{
        font-size: 0.9em;
    }
    .mensaje {
        width: 40%;
        height: 24vw;
        border-radius: 20px;
    }
    .btn-copiar {
        margin-left: 4.5rem;
    }
}







